body {
    background-color: cornsilk;
}

form {
    background-color: darkkhaki;
    width: 350px;
    margin: 0 auto;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px 2px rgb(203, 200, 157);
}

button {
    width: 90px;
    border: 0px;
    height: 24px;
    border-radius: 3px;
    margin: 0 3px;
    background-color: darkseagreen;
    outline-color: rgb(225, 224, 218);
    outline-style: solid;
}


button:active {
    background-color: #002ead;
}


.lift {
    margin: 6px auto;
    text-align: left;
    display: inline-block;
}

.title {
    color: darkblue;
}

#container {
    text-align: center;
}

.containertw {
    text-align: center;
}

#reset {
    background-color: brown;
    color: aliceblue;
}

#reset:active {
    background-color: #002ead;
}

#result {
    display: none;
    width: 350px;
    margin: 16px auto;
    background-color: rgb(135, 222, 216);
    padding: 16px;
    border-radius: 6px;
    text-align: center;
}

#table {
    text-align: center;
}

table {
    width: 85%;
    margin: 6px auto;
    border: 1px solid black;
    border-collapse: collapse;
}

thead th {
    background-color: darkorange;
    border: 1px solid green;
    font-size: 18px;
}

td {
    border: 1px solid black;
    padding: 6px;
}

tbody tr:nth-child(even) {
    background-color: bisque;
}